<div id="main_menu">
  <div class="logo_area">
    <%= image_tag("armadillo-logo.svg", size: "140", style:"navbar-brand d-lg-none") %>
  </div>
  <div class="inner_main_menu">
    <ul>
      <li>
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to "Projects", projects_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to icon('fa', 'linkedin'), "https://www.linkedin.com/in/amadaya-michael/", target: :_blank %>
      </li>
      <li>
        <%= link_to icon('fa-brands', 'github'), "https://github.com/amadayami", target: :_blank %>
      </li>
      <li>
        <%= link_to icon('fa-brands', 'google'), "mailto:amadayamichael@gmail.com"%>
      </li>
      <li>
        <%= link_to icon('fa-solid', 'envelope'), "mailto:fen@armadillo-codes.com"%>
      </li>
    </ul>
  </div>
</div>